.VC-body {
    color: $c-neutroDark;
    font-family: $t-default;
    font-size: $base-font-size;
    font-weight: 400;
    line-height: $base-line-height;

    // Headings
    h1, .t-h1,
    h2, .t-h2,
    h3, .t-h3,
    h4, .t-h4,
    h5, .t-h5,
    h6, .t-h6 {
        display: block;
        font-family: $t-default;
        font-weight: 700;
        margin-bottom: space();
        margin-top: 0;
    }

    h1, .t-h1 {
        @include fluid-type(32px, 48px);

        font-weight: $t-default-bold;
        line-height: 1.2;
    }

    h2, .t-h2 {
        @include fluid-type(32px, 40px);

        font-weight: $t-default-semibold;
        line-height: 1.2;
    }

    h3, .t-h3 {
        @include fluid-type(24px, 28px);

        font-weight: $t-default-semibold;
        line-height: 1.3;
        margin-bottom: space(.5);
    }

    h4, .t-h4 {
        @include fluid-type(20px, 24px);

        font-weight: $t-default-semibold;
        line-height: 1.3;
        margin-bottom: space(.5);
    }

    h5, .t-h5 {
        @include fluid-type($global-min-font, $global-max-font);

        margin-bottom: 0;
    }

    h6, .t-h6 { @include fluid-type(14px, 18px); }

    b, strong { font-weight: 700; }

    .italic { font-style: italic; }

    p {
        @include fluid-type($global-min-font, $global-max-font);

        margin: 0 0 space();
    }

    .small {
        font-size: get-rems(16px);
    }

    a {
        color: $c-primary;
        cursor: pointer;
        text-decoration: none;
        transition: all .3s ease-in-out;

        &:hover,
        &:focus {
            color: $c-primaryDark;
            text-decoration: none;
        }
    }

    ul, ol {
        margin: 0;
        padding: 0;
    }

    .highlight {
        @include fluid-type(18px, 28px);

        font-style: italic;
    }

    .breadcrumb {
        font-size: get-rems(14px);
    }

    .copyright {
        font-size: get-rems(12px);
        text-transform: uppercase;
    }

    .small-subtitle {
        color: $c-neutro;
        font-size: get-rems(13px);
        font-weight: $t-default-semibold;
        text-transform: uppercase;
    }

    .tiny-text {
        font-size: get-rems(13px);
    }

    .logo-title {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include breakpoint($s640) {
            flex-wrap: nowrap;
        }

        .vidaCaixa-logo {
            align-items: center;
            display: flex;
            height: get-rems(50px);
            margin: 10px;

            svg {
                height: 80%;
                width: auto;

                @include breakpoint($s768) {
                    height: 100%;
                }
            }
        }
    }
}
