// Variables
$global-max-width: 1380px;
$grid-columns: 12;
$global-radius: 5px;
$global-animation: all .3s ease-in-out;

// Typography & Vertical Rhythym
$global-min-font: 16px;
$global-max-font: 18px;
$base-font-size: 1rem;
$base-line-height-strip: 1.75;
$base-line-height: $base-line-height-strip * $base-font-size;

$t-default: "Open Sans", Helvetica, Arial, sans-serif;

$t-default-regular: 300;
$t-default-semibold: 600;
$t-default-bold: 700;

// Colors
$c-white: #fff;
$c-black: #000;

$c-neutroDark: #333;
$c-neutro: #999;
$c-neutroLight: #dadada;
$c-neutroLighter: #e5e5e5;
$c-neutroLightest: #f5f5f5;

$c-primary: #009ddd;
$c-primaryDark: #007dad;
$c-secondary: #f15d2f;
$c-secondaryDark: #d94315;

$c-success: #009470;
$c-alert: #fdb827;
$c-error: #ef5566;

$c-facebook: #3b5998;
$c-twitter: #55acee;
$c-youtube: #dc472e;

// Media Queries
$s0: (0, 479px);
$s480: (480px, 639px);
$s640: (640px, 767px);
$s768: (768px, 959px);
$s960: (960px, 1023px);
$s1024: (1024px, 1199px);
$s1200: (1200px, 1439px);
$s1440: (1440px, 1919px);
$s1920: (1920px, 0);

$breakpoints: (
    (s0, $s0),
    (s480, $s480),
    (s640, $s640),
    (s768, $s768),
    (s960, $s960),
    (s1024, $s1024),
    (s1200, $s1200),
    (s1440, $s1440),
    (s1920, $s1920)
);
$screen: "only screen" !default;
