.Main {
    margin-top: space(2);

    @include breakpoint($s960) {
        margin-top: 0;
    }

    &.Main-Productos {
        @include breakpoint($s960) {
            margin-top: space(2.5);
        }
    }

    .has-sidebar {
        @include breakpoint($s960) {
            margin: 0;
            padding: 0;
        }
    }
}
