{% set locale = 'es' %}

<!--MENU - Selected items-->
{% set menu_infcorp = '' %}
{% set menu_particulares = '' %}
{% set menu_p_seguro = '' %}
{% set menu_p_pensiones = '' %}
{% set menu_empresas = 'is-selected' %}
{% set menu_e_pensiones = 'is-selected' %}

{% set benefits = {
    1:{
        title: 'Periodicidad de aportación flexible',
        content: 'Podrás decidir la periodicidad que más te convenga: mensual, trimestral, semestral o anual.'
    },
    2:{
        title: 'Ventajas fiscales',
        content: 'Te beneficiarás de importantes ventajas fiscales en tu declaración de la renta.'
    },
    3:{
        title: 'Contratación de varios planes a la vez',
        content: 'Podrás combinar varios planes de pensiones y aportar hasta un máximo de 10.000 €/año (12.500 €/año en el caso de los mayores de 50 años).'
    },
    4:{
        title: 'Traspaso de capital de una entidad a otra',
        content: 'Podrás realizar movilizaciones desde otra entidad al plan que mejor se adapte a tu perfil inversor.'
    }
} %}

{% extends 'includes/base.twig' %}
{% import 'helpers/macros.twig' as macros %}
{% block html_id %}section-Empresas{% endblock %}
{% block Main_classes %}Main-Productos{% endblock %}

{% block content %}

<div class="Producto">

{% include 'organisms/billboard-product.twig' with {
    background: 'billboard-empresas-planes-pensiones.jpg',
    breadcrumb: ['Empresas','Planes de pensiones'],
    title: 'Planes de pensiones',
    subtitle: 'Una amplia gama de posibilidades a su disposición, que se adaptan a las necesidades particulares de su empresa',
    description: '<p>Los planes de pensiones constituyen el instrumento de <b>previsión social</b> con la más exhaustiva regulación dentro de la normativa española.</p>
    <p>Su funcionamiento está supervisado por una <b>Comisión de Control</b> formada, de modo paritario, por representantes de la empresa y trabajadores. Existe un estricto sistema de control en el cual intervienen, entre otros, profesionales independientes y la propia Dirección General de Seguros y Fondos de Pensiones.</p>'
} %}

{% include 'molecules/anchorsMenu.twig' with {
    products_menu: [ {'name': 'Beneficios', 'id':  'benefits'}, { 'name': 'Modalidades', 'id': 'products'}, { 'name':'Preguntas frecuentes', 'id': 'faq'}, { 'name':'Artículos relacionados', 'id': 'highlights'} ]
} %}

{% include 'organisms/benefits.twig' with {
    title: 'Beneficios',
} %}

<div id="products" class="productsList u-wrapper">
    <h2>Modalidades</h2>
    {% include 'molecules/listproduct.twig' with {
        cols: '5',
        headings: true,
        modal_title: 'Destino',
        modal_edad: 'Todas',
        modal_riesgo: '4',
        modal_desc: 'Es una gama de planes orientados a la gestión óptima del ahorro teniendo en cuenta el horizonte temporal de jubilación.',
        modal_cta: 'Ver productos',
        modal_link: "/empresas-pensiones-destino.html"
    } %}
    {% include 'molecules/listproduct.twig' with {
        cols: '5',
        modal_title: 'Inversión  Mixta',
        modal_edad: '+50',
        modal_riesgo: '4',
        modal_desc: 'Es una gama de planes en la que se combina la renta fija con la renta variable para ofrecerte la mejor combinación rentabilidad-riesgo.',
        modal_cta: 'Ver productos',
        modal_link: "#"
    } %}
    {% include 'molecules/listproduct.twig' with {
        cols: '5',
        modal_title: 'Renta  Variable',
        modal_edad: '-50',
        modal_riesgo: '6',
        modal_desc: 'Es una gama en la que se invierte en planes con vinculación a bolsa para aprovechar el potencial de rentabilidad cuando aún faltan muchos años para tu jubilación.',
        modal_cta: 'Ver productos',
        modal_link: "#"
    } %}
    {% include 'molecules/listproduct.twig' with {
        cols: '5',
        modal_title: 'Renta Fija',
        modal_edad: '+60',
        modal_riesgo: '3',
        modal_desc: 'Es una gama de planes en la que se Invierte en mercados monetarios y en renta fija para recoger beneficios cuando faltan pocos años para tu jubilación.',
        modal_cta: 'Ver productos',
        modal_link: "#"
    } %}
    {% include 'molecules/listproduct.twig' with {
        cols: '2',
        info: true
    } %}
</div>


{% include 'organisms/faq.twig' %}

{% include 'organisms/blog.twig' with {
    blogSubtitle: 'Artículos relacionados que te pueden interesar',
    cta: false,
    marginBottom: true
} %}

{% include 'organisms/highlights.twig' with {
    class: 'u-wrapper'
} %}

{% include 'organisms/contact-bar.twig' with {
    background: 'primary',
    classes: 'no-margin'
} %}

{% endblock %}
