{% set locale = 'es' %}

{% extends 'includes/base.twig' %}
{% import 'helpers/macros.twig' as macros %}

{% block content %}

<div class="">
    <div class="u-wrapper is-reading">
        <br>
        <br>
        <div class="formLogin">
            <h3 class="formLogin-title">e-Gestion</h3>
            <form class="Form" action="#" method="post">
                <div class="formLogin-field Form-error visible">
                    <label for="">Usuario *</label>
                    <input class="vc-input" placeholder="Usuario" type="text" name="" value="">
                    <div class="Form-errorMessage">Este campo es obligatorio.</div>
                </div>
                <div class="formLogin-field Form-error visible">
                    <label for="">Contraseña *</label>
                    <input class="vc-input" placeholder="Contraseña" type="text" name="" value="">
                    <div class="Form-errorMessage">Este campo es obligatorio.</div>
                </div>
                <div class="formLogin-field">
                    <a class="Button Button--solid bg-secondary" href="#"><span>Enviar</span></a>
                </div>
                <div class="formLogin-field">
                    <a class="formLogin-fieldLink" href="#">Recordar clave de acceso</a>
                    <a class="formLogin-fieldLink" href="#">Solicitud de alta</a>
                </div>
            </form>
        </div>

        <div class="formLogin formContact">
            <form class="Form" action="#" method="post">
                <h3 class="formLogin-title">Tus datos</h3>
                <div class="formLogin-field Form-error visible">
                    <label for="">Nombre *</label>
                    <input class="vc-input" placeholder="Nombre" type="text" name="" value="">
                    <div class="Form-errorMessage">Este campo es obligatorio.</div>
                </div>
                <div class="formLogin-field Form-error visible">
                    <label for="">Primer apellido *</label>
                    <input class="vc-input" placeholder="Primer apellido" type="text" name="" value="">
                    <div class="Form-errorMessage">Este campo es obligatorio.</div>
                </div>
                <div class="formLogin-field Form-error visible">
                    <label for="">DNI *</label>
                    <input class="vc-input" placeholder="12345678Z" type="text" name="" value="">
                    <div class="Form-errorMessage">Este campo es obligatorio.</div>
                </div>
                <div class="formLogin-field Form-error visible">
                    <label for="">Correo electrónico *</label>
                    <input class="vc-input" placeholder="Correo electrónico" type="text" name="" value="">
                    <div class="Form-errorMessage">Este campo es obligatorio.</div>
                </div>

                <h3 class="formLogin-title">Motivo del mensaje</h3>
                <div class="formLogin-field Form-error visible">
                    <label for="">Selecciona el motivo *</label>
                    <select name="select" class="Select is-grey">
                        <option value="Financiera" selected="" class="BlogFilter-selectItem">Selecciona el motivo</option>
                    </select>
                    <div class="Form-errorMessage">Este campo es obligatorio.</div>
                </div>
                <div class="formLogin-field Form-error visible">
                    <label for="">Selecciona el tipo de producto *</label>
                    <select name="select" class="Select is-grey">
                        <option value="Financiera" selected="" class="BlogFilter-selectItem">Selecciona el tipo de producto</option>
                    </select>
                    <div class="Form-errorMessage">Este campo es obligatorio.</div>
                </div>

                <h3 class="formLogin-title">Comentarios</h3>
                <div class="formLogin-field Form-error visible">
                    <label for="">Tu mensaje *</label>
                    <textarea class="" placeholder="Tu mensaje..." rows="4" cols="50"></textarea>
                    <div class="Form-errorMessage">Este campo es obligatorio.</div>
                </div>

                <div class="formLogin-field Form-error visible">
                    <div class="formLogin-field custom-checkbox">
                        <input type="checkbox" id="test1" />
                        <label class="custom-checkboxLabel" for="test1">He leido y acepto la <a href="#">política de privacidad</a> y las <a href="#">condiciones de uso.</a></label>
                    </div>
                    <div class="Form-errorMessage">Este campo es obligatorio.</div>
                </div>


                <div class="formLogin-field">
                    <a class="Button Button--solid bg-secondary" href="#"><span>Enviar</span></a>
                </div>

                <div class="Message Message--success">
                    <i class="Message-icon"><img src="assets/img/sprites/success.svg"></img></i>
                    <span class="Message-content small">Tu mensaje se ha enviado. Nuestros asesores te contestarán tan pronto como sea posible.</span>
                </div>
                <div class="Message Message--alert">
                    <i class="Message-icon"><img src="assets/img/sprites/alert.svg"></img></i>
                    <span class="Message-content small">Etiam venenatis quam turpis, at porta neque ornare vitae. Nulla libero massa, bibendum in felis sit amet, tincidunt facilisis nisl.</span>
                </div>
                <div class="Message Message--error ">
                    <i class="Message-icon"><img src="assets/img/sprites/error.svg"></img></i>
                    <span class="Message-content small">Maecenas tincidunt aliquet lorem, nec tempor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </div>
            </form>
        </div>

        <div class="Message Message--success">
            <i class="Message-icon"><img src="assets/img/sprites/success.svg"></img></i>
            <span class="Message-content small">Tu mensaje se ha enviado. Nuestros asesores te contestarán tan pronto como sea posible.</span>
        </div>
        <br>
        <div class="Message Message--alert">
            <i class="Message-icon"><img src="assets/img/sprites/alert.svg"></img></i>
            <span class="Message-content small">Etiam venenatis quam turpis, at porta neque ornare vitae. Nulla libero massa, bibendum in felis sit amet, tincidunt facilisis nisl.</span>
        </div>
        <br>
        <div class="Message Message--error ">
            <i class="Message-icon"><img src="assets/img/sprites/error.svg"></img></i>
            <span class="Message-content small">Maecenas tincidunt aliquet lorem, nec tempor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
        <br>

    </div>
</div>

{% endblock %}
