{% set locale = 'es' %}

{% extends 'includes/base.twig' %}
{% import 'helpers/macros.twig' as macros %}

{% block content %}

<div class="Styleguide u-wrapper">
    <div class="u-wrapper is-reading Blog-content">
        <br>
        <br>
        <br>
        <h1 class="Blog-title">Plantillas</h1>
        <ul>
            <li><a href="/index.html" target="_blank">1 - Home: Particulares</a></li>
            <li><a href="/empresas.html" target="_blank">2 - Home: Empresas</a></li>
            <li><a href="/informacion-corporativa.html" target="_blank">3 - Principal Footer: Información corporativa</a></li>
            <li><a href="/particulares-pensiones.html" target="_blank">4 - Agrupación productos: Particulares Pensiones</a></li>
            <li><a href="/particulares-segurovida.html" target="_blank">4 - Agrupación productos: Particulares Seguros de Vida</a></li>
            <li><a href="/empresas-pensiones.html" target="_blank">4 - Agrupación productos: Empresas Pensiones</a></li>
            <li><a href="/empresas-pensiones-destino.html" target="_blank">4 - Agrupación productos: Empresas Pensiones Destino</a></li>
            <li><a href="/blog-post.html" target="_blank">5a - Contenido estático: Noticia</a></li>
            <li><a href="/lists-types.html" target="_blank">6a - Contenido estático: Todos los tipos posibles de listados</a></li>
            <li><a href="/resultados-trimestrales.html" target="_blank">6b - Contenido estático: Resultados Trimestrales</a></li>
            <li><a href="/press.html" target="_blank">7 - Sala de prensa</a></li>
            <li><a href="/resultados-filtrados.html" target="_blank">8a - Resultados de búsqueda</a></li>
            <li><a href="/press-notes.html" target="_blank">8b - Notas de prensa</a></li>
            <li><a href="/QA.html" target="_blank">9 - Pregunta solución</a></li>
            <li><a href="/egestion.html" target="_blank">10 - E-Gestion</a></li>
            <li><a href="/contact.html" target="_blank">11a - Contacto</a></li>
            <li><a href="/forms.html" target="_blank">11b - Validaciones de formulario</a></li>
        </ul>
        <br>
        <br>
        <br>
    </div>
</div>

{% endblock %}
