<article class="BlogCard {{ blogCard_class }}">
    <a href="#" class="BlogCard-photo"><img src="/assets/img/cms/{{ blogCard_photo }}" alt="" class="u-borderImage"></a>
    <div class="BlogCard-shared">
        <span class="BlogCard-sharedIcon"><img src="assets/img/sprites/share-blog.svg"></img></span>
        <span class="BlogCard-sharedNumber">{{ blogCard_sharedNumber }}</span>
        <span class="BlogCard-sharedTitle">Veces compartido</span>
    </div>
    <div class="BlogCard-name">
        <a href="#">{{ blogCard_name }}</a>
    </div>
</article>
