<div class="Faq-item">
    <div class="Faq-item-button js-Faq-trigger">
        <a href="#" class="Faq-button-title ">{{item_title}}</a>
        <a href="#" class="Faq-button-arrow"><img src="assets/img/sprites/arrow-blue.svg"></img></a>
    </div>
    <div class="Faq-item-content js-Faq-content">
        <p class="Faq-content-text">{{item_copy}}</p>
        <div class="Faq-content-rating">
            <p class="Faq-rating-text">{{rating_copy}}</p>
            <div class="Faq-rating-stars" data-selected="0">
                <span class="Faq-rating-starItem js-Faq-star" data-val="1">
                    <img src="assets/img/sprites/star.svg" alt="" class="Faq-star Faq-star--off">
                    <img src="assets/img/sprites/star-active.svg" alt="" class="Faq-star Faq-star--on">
                </span>
                <span class="Faq-rating-starItem js-Faq-star" data-val="2">
                    <img src="assets/img/sprites/star.svg" alt="" class="Faq-star Faq-star--off">
                    <img src="assets/img/sprites/star-active.svg" alt="" class="Faq-star Faq-star--on">
                </span>
                <span class="Faq-rating-starItem js-Faq-star" data-val="3">
                    <img src="assets/img/sprites/star.svg" alt="" class="Faq-star Faq-star--off">
                    <img src="assets/img/sprites/star-active.svg" alt="" class="Faq-star Faq-star--on">
                </span>
                <span class="Faq-rating-starItem js-Faq-star" data-val="4">
                    <img src="assets/img/sprites/star.svg" alt="" class="Faq-star Faq-star--off">
                    <img src="assets/img/sprites/star-active.svg" alt="" class="Faq-star Faq-star--on">
                </span>
                <span class="Faq-rating-starItem js-Faq-star" data-val="5">
                    <img src="assets/img/sprites/star.svg" alt="" class="Faq-star Faq-star--off">
                    <img src="assets/img/sprites/star-active.svg" alt="" class="Faq-star Faq-star--on">
                </span>
            </div>
        </div>
    </div>
</div>
