<div class="Pagination">
    <ul>
        <li><a href="#"><img class="rotate" src="assets/img/sprites/arrow-blue.svg"></img></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="more">...</li>
        <li><a href="#">54</a></li>
        <li><a href="#"><img src="assets/img/sprites/arrow-blue.svg"></img></a></li>
    </ul>
    <div class="Pagination-nextButton">
        <a href="#">Siguiente página <img src="assets/img/sprites/arrow-blue.svg"></img></a>
    </div>
</div>
