<div class="listProductItem-riskCard">
    <p>El nivel de riesgo de los Planes, en una escala del 1 al 7, varía del 2 al 6.</p>
    <div class="numbers">1</div>
    <div class="numbers">2</div>
    <div class="numbers">3</div>
    <div class="numbers">4</div>
    <div class="numbers">5</div>
    <div class="numbers">6</div>
    <div class="numbers">7</div>
    <div class="half">
        <p>
            <img class="arrow rotate" src="assets/img/sprites/arrow-products.svg" alt="">
        </p>
        <p>Potencialmente  menor rendimiento</p>
        <p>Menor riesgo</p>
    </div><div class="half">
        <p>
            <img class="arrow" src="assets/img/sprites/arrow-products.svg" alt="">
        </p>
        <p>Potencialmente  mayor rendimiento</p>
        <p>Mayor riesgo</p>
    </div>
</div>
