<div class="Soluciones-item">
    <div class="Soluciones-itemContent">
        <h4 class="t-h4"><a href="#">{{ soluciones_title }}</a></h4>
        <div class="Soluciones-itemFlex">
            <div class="Soluciones-itemInfo">
                <h5 class="t-h5 Soluciones-itemInfoTitle">Empresa</h5>
                <p>{{ soluciones_empresa }}</p>
            </div>
            <div class="Soluciones-itemInfo">
                <h5 class="t-h5 Soluciones-itemInfoTitle">Sector</h5>
                <p>{{ soluciones_sector }}</p>
            </div>
        </div>
    </div>
    <a class="Button Button--solid bg-primary" href="#">{{ soluciones_button }}</a>
</div>
