<!-- Banner -->
<section class="Banner2 module ">
      <div class="u-wrapper is-small Banner2-container u-flex--wrap">
            <div class="Banner2-image u-flex--s0-12 u-flex--s960-5">
                  <img src="../assets/img/cms/banner2.jpg" alt="Protección Autónomo Vida">
            </div>
            <div class="Banner2-content u-flex--s0-12 u-flex--s960-6">
                  <p class="t-h4 Banner2-subtitle">Productos para autónomos</p>
                  <h2 class="t-h2 Banner2-title">Protección Autónomo Vida</h2>
                  <p class="Banner2-content">Es un producto flexible que te ofrece un conjunto de coberturas para que contrates la póliza que mejor se ajuste a las necesidades de tu familia.</p>
                 <a class="Button Button--solid Button--icon bg-primary" href="#"><span>Más información</span><img src="assets/img/sprites/button-icon.svg"></a>
            </div>
      </div>
</section>
<!-- End banner-->
