<!-- Banner -->
<section class="Banner module u-wrapper Banner-box">
    <div class="u-wrapper Banner-boxContainer">
        <div class="Banner-image">
            <img src="/assets/img/cms/img-banner-3.jpg" alt="">
        </div>
        <div class="Banner-wrapper u-flex--wrap">
            <div class="u-flex--s0-12 u-flex--s640-8 u-flex--s960-6">
                <h2 class="t-h1 Banner-title">Swiss Life Network</h2>
                <p class="Banner-content t-h3">
                    Visión internacional en colaboración con la Red Internacional Swiss Life
                </p>
                <!-- $CHECK: Button debe ser un include (no está el .twig del button) -->
                <a class="Button Button--solid Button--icon bg-primary" href="#"><span>Más información</span></a>
                <!-- End Button include -->
            </div>
        </div>
    </div>
</section>
<!-- End banner-->
