<!-- Banner -->
<section class="Banner module Banner-full {{ class }}">
    <div class="Banner-image">
        <img src="/assets/img/cms/banner1-img.jpg" alt="">
    </div>
	<div class="Banner-wrapper u-wrapper u-flex--wrap">
        <div class="u-flex--s0-12 u-flex--s640-8 u-flex--s960-6">
    		<h2 class="t-h1 Banner-title">Guía de la jubilación</h2>
    		<p class="Banner-content t-h3">
    			Encuentra todas las respuestas que buscas sobre cómo preparar tu futuro
    		</p>
    		<!-- $CHECK: Button debe ser un include (no está el .twig del button) -->
    		<a class="Button Button--solid Button--icon bg-primary" href="#"><span>Más información</span></a>
            <!-- End Button include -->
        </div>
	</div>
</section>
<!-- End banner-->
