<section class="BillboardSimple module">
    <div class="BillboardSimple-image">
        <img src="/assets/img/cms/{{ background }}" alt="">
    </div>
	<div class="BillboardSimple-wrapper u-wrapper u-flex--wrap">
        <div class="u-flex--s0-12 u-flex--s640-8 u-flex--s960-6">
            <p class="BillboardSimple-subtitle t-h3">{{ subtitle }}</p>
            <h2 class="t-h1 BillboardSimple-title">{{ title }}</h2>
        </div>
	</div>
</section>
