<section class="BillboardQuestion module">
    <div class="BillboardQuestion-title">
        <div class="u-wrapper">
            {% include '../molecules/breadcrumb.twig' with {
            breadcrumb: ['Particulares','¿Estoy a tiempo de tener una buena jubilación?']
            } %}
            <h1>¿Estoy a tiempo de tener una buena jubilación?</h1>
        </div>
    </div>
    <div class="BillboardQuestion-subtitle">
        <div class="BillboardQuestion-subtitleWrapper u-wrapper is-reading">
            <h3>Calcular el dinero necesario para la pensión es imprescindible para poder tomar decisiones a tiempo sobre cómo ahorrar para la jubilación.</h3>
        </div>
    </div>
</section>
