<section class="Contactbar bg-{{ background }} {{ classes }} module">
    <ul class="Contactbar-content" vocab="http://schema.org/" typeof="Corporation">
        <li class="Contactbar-item">
            <a class="Contactbar-link" href="#">
                <span class="Contactbar-icon has-background-light"><img src="assets/img/sprites/location.svg"></img></span>
                <span class="Contactbar-icon has-background-dark"><img src="assets/img/sprites/location-white.svg"></img></span>
                <span class="Contactbar-text">Nuestras oficinas</span>
            </a>
        </li>
        <li class="Contactbar-item">
            <a class="Contactbar-link" href="#">
                <span class="Contactbar-icon has-background-light"><img src="assets/img/sprites/mail.svg"></img></span>
                <span class="Contactbar-icon has-background-dark"><img src="assets/img/sprites/mail-white.svg"></img></span>
                <span class="Contactbar-text">Escribenos</span>
            </a>
        </li>
        <li class="Contactbar-item">
            <a class="Contactbar-link" href="tel:+34902222118" property="telephone" content="+34902222118">
                <span class="Contactbar-icon has-background-light"><img src="assets/img/sprites/phone.svg"></img></span>
                <span class="Contactbar-icon has-background-dark"><img src="assets/img/sprites/phone-white.svg"></img></span>
                <span class="Contactbar-text">902 222 118</span>
            </a>
        </li>
    </ul>
</section>
