<section class="contactBusiness module">
	<div class="contactBusiness-wrapper u-flex--wrap" vocab="http://schema.org/" typeof="Corporation">
        <div class="contactBusiness-item u-flex--s0-12 u-flex--s960-4">
    		<h3 class="contactBusiness-title">Contacta con nosotros</h2>
        </div>
        <div class="contactBusiness-item u-flex--s0-12 u-flex--s640-6 u-flex--s960-4">
            <h3 class="contactBusiness-title"><span class="contactBusiness-icon phone"><img src="assets/img/sprites/phone.svg"></img></span>Llámanos</h2>
            <p class="contactBusiness-content">
                Teléfono exclusivo para clientes de empresa.
            </p>
            <a class="Link Link--arrow c-primary" href="tel:+34902222118" property="telephone" content="+34902222118"><span>902 222 118</span><img src="assets/img/sprites/arrow-blue.svg"></a>
        </div>
        <div class="contactBusiness-item u-flex--s0-12 u-flex--s640-6 u-flex--s960-4">
    		<h3 class="contactBusiness-title"><span class="contactBusiness-icon email"><img src="assets/img/sprites/mail.svg"></img></span>Escríbenos</h2>
    		<p class="contactBusiness-content">
    			Tus sugerencias, consultas o reclamaciones a través de un formulario.
    		</p>
    		<a class="Link Link--arrow c-primary" href="#"><span>Correo electrónico</span><img src="assets/img/sprites/arrow-blue.svg"></a>
        </div>
	</div>
</section>
