<section class="Distributor module">
    <div class="Distributor-container u-flex--wrap">
        <div class="Distributor-itemWrapper u-flex--s0-12 u-flex--s960-6">
            <div class="Distributor-item">
                <h3>Quiénes somos</h3>
                <p>VidaCaixa es la entidad líder en previsión social integrada en CaixaBank.</p>
                <ul class="Distributor-links">
                    <li><a href="">VidaCaixa</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">VidaCaixa Previsión Social</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                </ul>
            </div>
        </div>
        <div class="Distributor-itemWrapper u-flex--s0-12 u-flex--s960-6">
            <div class="Distributor-item">
                <h3>Gobierno corporativo</h3>
                <p>Informes, noticias y anuncios financieros de VidaCaixa.</p>
                <ul class="Distributor-links">
                    <li><a href="">Consejo de administración</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">Informe de gobierno corporativo</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">Vidacaixa, noticias y hechos relevantes (CNMV)</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">Anuncios oficiales</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">Informes financieros anuales</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                </ul>
            </div>
        </div>
        <div class="Distributor-itemWrapper u-flex--s0-12 u-flex--s960-6">
            <div class="Distributor-item">
                <h3>Responsabilidad social corporativa</h3>
                <p>VidaCaixa trabaja a través de sus valores corporativos: Confianza, Calidad y Dinamismo.</p>
                <ul class="Distributor-links">
                    <li><a href="">Responsabilidad social corporativa</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">Valores</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">Nuestros grupos de interés</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">Compromiso con la gestión responsable</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">Retorn - Voluntariado corporativo</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                </ul>
            </div>
        </div>
        <div class="Distributor-itemWrapper u-flex--s0-12 u-flex--s960-6">
            <div class="Distributor-item">
                <h3>Publicaciones</h3>
                <p>Nuestras publicaciones a tu disposición, para que puedas acceder a toda la información que necesites sobre nosotros.</p>
                <ul class="Distributor-links">
                    <li><a href="">Informe anual integrado</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">Barómetros</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    <li><a href="">Estudios</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                </ul>
            </div>
        </div>

        <div class="Distributor-itemWrapper Distributor-itemWrapper--full">
            <div class="Distributor-itemWrapper u-flex--s0-12 u-flex--s960-6">
                <div class="Distributor-item">
                    <h3>Responsabilidad social corporativa</h3>
                </div>
            </div>
            <div class="Distributor-itemWrapper u-flex--s0-12 u-flex--s960-6">
                <div class="Distributor-item">
                    <ul class="Distributor-links">
                        <li><a href="">Informe anual integrado</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                        <li><a href="">Barómetros</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                        <li><a href="">Estudios</a> <img src="/assets/img/sprites/arrow-grey.svg"/></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</section>
