<div class="Egestion module u-wrapper is-small">
    <div class="Egestion-container">
        <h3 class="t-h3 Egestion-title">
            <span class="Egestion-titleText">Acceso a</span>
            <span class="Egestion-titleLogo"><img src="../assets/img/template/logo-egestion.png" alt="e-Gestion"></span>
        </h3>
        <p class="Egestion-text">Accede al portal e-Gestión dónde podrás administrar todos los productos que tengas contratados para o desde tu empresa.</p>
        <a href="#" class="Button Button--solid bg-primary Egestion-button">Entrar</a>
    </div>
</div>
