<section id="faq" class="Faq module container is-small">
    <h2 class="t-h2 Faq-title">Preguntas frecuentes relacionadas</h2>
    {% include '../molecules/faq-rating.twig' with {
        item_title: 'En caso de fallecimiento, ¿quién cobrará el capital?',
        item_copy: 'Según tu edad y el capital que desees asegurar, se te solicitará pasar unas pruebas médicas, que van desde un pequeño cuestionario de salud hasta una revisión médica. En caso de tener que pasar un control médico, podrás hacerlo en prestigiosos centros de tu ciudad o provincia, y siempre de forma gratuita.',
        rating_copy: '¿Te ha sido útil esta respuesta?'
    } %}
    {% include '../molecules/faq-rating.twig' with {
        item_title: '¿Cuál es la edad mínima y máxima para contratar un seguro de vida?',
        item_copy: 'Según tu edad y el capital que desees asegurar, se te solicitará pasar unas pruebas médicas, que van desde un pequeño cuestionario de salud hasta una revisión médica. Nulla nisl felis, varius sit amet posuere quis, tristique a enim. Suspendisse vitae nisi quis nisi sagittis efficitur euismod ut neque. Sed fermentum ligula et dolor convallis aliquet.',
        rating_copy: '¿Te ha sido útil esta respuesta?'
    } %}
    {% include '../molecules/faq-rating.twig' with {
        item_title: '¿Siempre pagaré la misma prima?',
        item_copy: 'En caso de tener que pasar un control médico, podrás hacerlo en prestigiosos centros de tu ciudad o provincia, y siempre de forma gratuita. Curabitur ligula quam, hendrerit rhoncus facilisis non, accumsan sit amet augue. Pellentesque sed suscipit enim. Nunc tristique ornare semper. Nulla consequat ligula a dui posuere iaculis. Pellentesque porta volutpat dui, sit amet bibendum purus porta vel.',
        rating_copy: '¿Te ha sido útil esta respuesta?'
    } %}
    <div class="Faq-CTA">
        <a href="#" class="Button Button--solid bg-primary">Ver todas las preguntas frecuentes</a>
    </div>
</section>
