<section class="Featured module u-flex u-flex--wrap u-flex--justifyCenter">
    <div class="Featured-container u-flex u-flex--wrap u-flex--justifyBetween">
        <div class="Featured-item">
            <div class="Featured-itemVideo">
                <video muted loop class="Featured-Video js-video">
                    <source src="assets/img/cms/beach.mp4" type="video/mp4">
                </video>
            </div>
            <div class="Featured-itemImage">
                <img src="assets/img/cms/Featured-1.jpg" alt="">
            </div>

            <div class="Featured-itemWrapper">
                <h2 class="Featured-itemTitle">Ahora que soy joven quiero proteger mi futuro</h2>
                <div class="Featured-itemMoreinfo">
                    <p class="text">Respondemos tus dudas</p>
                    <img class="arrow" src="assets/img/sprites/arrow-white.svg" alt="">
                </div>
                <div class="Featured-itemSlide">
                    <h3 class="Featured-itemSubtitle">Ahora que soy joven quiero proteger mi futuro</h3>
                    <ul class="Featured-itemList">
                        <li>
                            <a class="Link Link--arrow c-primary" href="#"><span>Quiero dejar en una buena situación a mi familia cuando ya no esté, ¿cómo lo hago?
                                <img class="Featured-itemArrow desktop" src="assets/img/sprites/arrow-white.svg" alt="">
                                <img class="Featured-itemArrow mobile" src="assets/img/sprites/arrow-blue.svg" alt="">
                            </span></a>
                        </li>
                        <li>
                            <a class="Link Link--arrow c-primary" href="#"><span>Si no puedo seguir trabajando, ¿cómo cuido de los míos?
                                <img class="Featured-itemArrow desktop" src="assets/img/sprites/arrow-white.svg" alt="">
                                <img class="Featured-itemArrow mobile" src="assets/img/sprites/arrow-blue.svg" alt="">
                            </span></a>
                        </li>
                        <li>
                            <a class="Link Link--arrow c-primary" href="#"><span>Si ahorro 20€ al mes desde hoy ¿cuánto tendré cuando me jubile?
                                <img class="Featured-itemArrow desktop" src="assets/img/sprites/arrow-white.svg" alt="">
                                <img class="Featured-itemArrow mobile" src="assets/img/sprites/arrow-blue.svg" alt="">
                            </span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Featured-item">
            <div class="Featured-itemVideo">
                <video muted loop class="Featured-Video js-video">
                    <source src="assets/img/cms/woman.mp4" type="video/mp4">
                </video>
            </div>
            <div class="Featured-itemImage">
                <img src="assets/img/cms/Featured-2.jpg" alt="">
            </div>
            <div class="Featured-itemWrapper">
                <h2 class="Featured-itemTitle">Empiezo a pensar en mi jubilación</h2>
                <div class="Featured-itemMoreinfo">
                    <p class="text">Respondemos tus dudas</p>
                    <img class="arrow" src="assets/img/sprites/arrow-white.svg" alt="">
                </div>
                <div class="Featured-itemSlide">
                    <h3 class="Featured-itemSubtitle">Empiezo a pensar en mi jubilación</h3>
                    <ul class="Featured-itemList">
                        <li>
                            <a class="Link Link--arrow c-primary" href="#"><span>Quiero dejar en una buena situación a mi familia cuando ya no esté, ¿cómo lo hago?
                                <img class="Featured-itemArrow desktop" src="assets/img/sprites/arrow-white.svg" alt="">
                                <img class="Featured-itemArrow mobile" src="assets/img/sprites/arrow-blue.svg" alt="">
                            </span></a>
                        </li>
                        <li>
                            <a class="Link Link--arrow c-primary" href="#"><span>Si no puedo seguir trabajando, ¿cómo cuido de los míos?
                                <img class="Featured-itemArrow desktop" src="assets/img/sprites/arrow-white.svg" alt="">
                                <img class="Featured-itemArrow mobile" src="assets/img/sprites/arrow-blue.svg" alt="">
                            </span></a>
                        </li>
                        <li>
                            <a class="Link Link--arrow c-primary" href="#"><span>Si ahorro 20€ al mes desde hoy ¿cuánto tendré cuando me jubile?
                                <img class="Featured-itemArrow desktop" src="assets/img/sprites/arrow-white.svg" alt="">
                                <img class="Featured-itemArrow mobile" src="assets/img/sprites/arrow-blue.svg" alt="">
                            </span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Featured-item">
            <div class="Featured-itemVideo">
                <video muted loop class="Featured-Video js-video">
                    <source src="assets/img/cms/grandparents.mp4" type="video/mp4">
                </video>
            </div>
            <div class="Featured-itemImage">
                <img src="assets/img/cms/Featured-3.jpg" alt="">
            </div>
            <div class="Featured-itemWrapper">
                <h2 class="Featured-itemTitle">Quiero disfrutar de mi jubilación</h2>
                <div class="Featured-itemMoreinfo">
                    <p class="text">Respondemos tus dudas</p>
                    <img class="arrow" src="assets/img/sprites/arrow-white.svg" alt="">
                </div>
                <div class="Featured-itemSlide">
                    <h3 class="Featured-itemSubtitle">Quiero disfrutar de mi jubilación</h3>
                    <ul class="Featured-itemList">
                        <li>
                            <a class="Link Link--arrow c-primary" href="#"><span>Quiero dejar en una buena situación a mi familia cuando ya no esté, ¿cómo lo hago?
                                <img class="Featured-itemArrow desktop" src="assets/img/sprites/arrow-white.svg" alt="">
                                <img class="Featured-itemArrow mobile" src="assets/img/sprites/arrow-blue.svg" alt="">
                            </span></a>
                        </li>
                        <li>
                            <a class="Link Link--arrow c-primary" href="#"><span>Si no puedo seguir trabajando, ¿cómo cuido de los míos?
                                <img class="Featured-itemArrow desktop" src="assets/img/sprites/arrow-white.svg" alt="">
                                <img class="Featured-itemArrow mobile" src="assets/img/sprites/arrow-blue.svg" alt="">
                            </span></a>
                        </li>
                        <li>
                            <a class="Link Link--arrow c-primary" href="#"><span>Si ahorro 20€ al mes desde hoy ¿cuánto tendré cuando me jubile?
                                <img class="Featured-itemArrow desktop" src="assets/img/sprites/arrow-white.svg" alt="">
                                <img class="Featured-itemArrow mobile" src="assets/img/sprites/arrow-blue.svg" alt="">
                            </span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
