<footer class="Footer module js-footer">
    <div class="Footer-wrapper u-wrapper u-flex u-flex--wrap u-flex--justifyCenter">
        <div class="Footer-info">
            <div class="Footer-infoLogo">
                <a href="#">
                    <span class="vidaCaixa-logo"><img src="assets/img/sprites/vidaCaixa-logo.svg"></img></span>
                </a>
            </div>

            <ul class="Footer-infoLinks">
                <li><a href="#">Información corporativa</a></li>
                <li><a href="#">Sala de prensa</a></li>
                <li><a href="#">Servicio al cliente</a></li>
            </ul>

            <ul class="Footer-infoSocial">
                <li class="Footer-infoSocial-icon"><a href="#"><img src="assets/img/sprites/facebook.svg"></img></a></li>
                <li class="Footer-infoSocial-icon"><a href="#"><img src="assets/img/sprites/twitter.svg"></img></a></li>
                <li class="Footer-infoSocial-icon"><a href="#"><img src="assets/img/sprites/linkedin.svg"></img></a></li>
                <li class="Footer-infoSocial-icon"><a href="#"><img src="assets/img/sprites/instagram.svg"></img></a></li>
                <li class="blog">
                    <span class="blog-item"><a href="#">Blog</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="Footer-wrapper Footer-legalWrapper">
        <div class="Footer-legal u-wrapper">
            <p class="Footer-legalInfo">© VidaCaixa, S.A. Sociedad Unipersonal, Barcelona 2017. Todos los derechos reservados</p>
            <ul class="Footer-legalLinks">
                <li><a href="#">Aviso legal</a></li>
                <li><a href="/cookies-policy.html">Política de cookies</a></li>
                <li><a href="#">Mapa web</a></li>
                <li><a href="#">Accesibilidad</a></li>
                <li><a href="#">Navegación</a></li>
                <li><a href="#">Enlaces de interés</a></li>
            </ul>
        </div>
    </div>
</footer>
