<div class="formLogin">
    <h3 class="formLogin-title">e-Gestion</h3>
    <form class="Form" action="#" method="post">
        <div class="formLogin-field Form-error">
            <label for="">Usuario *</label>
            <input class="vc-input" placeholder="Usuario" type="text" name="" value="">
            <div class="Form-errorMessage">Este campo es obligatorio.</div>
        </div>
        <div class="formLogin-field Form-error">
            <label for="">Contraseña *</label>
            <input class="vc-input" placeholder="Contraseña" type="text" name="" value="">
            <div class="Form-errorMessage">Este campo es obligatorio.</div>
        </div>
        <div class="formLogin-field">
            <a class="Button Button--solid bg-secondary" href="#"><span>Enviar</span></a>
        </div>
        <div class="formLogin-field">
            <a class="formLogin-fieldLink" href="#">Recordar clave de acceso</a>
            <a class="formLogin-fieldLink" href="#">Solicitud de alta</a>
        </div>
    </form>
</div>
