<section id="highlights" class="Highlights">
    <h2 class="t-h2 logo-title"><span>Por qué</span> <span class="vidaCaixa-logo"><img src="assets/img/sprites/vidaCaixa-logo.svg"></img></span></h2>
    <div class="highlights-container u-flex u-flex--wrap u-flex--justifyBetween {{ class }}">
        <div class="highlights-item">
            <h4 class="t-h4 highlights-itemTitle">Más de 100 años presentes en tu futuro</h4>
            <p>Ayudando a las personas a preparar su jubilación y ofreciendo las mejores soluciones personalizadas.</p>
        </div>
        <div class="highlights-item">
            <h4 class="t-h4 highlights-itemTitle">Contribuyendo a la Obra Social “la Caixa”</h4>
            <p>Se invierten más de 300 millones en programas sociales prestando una especial atención a las personas mayores.</p>
        </div>
        <div class="highlights-item">
            <h4 class="t-h4 highlights-itemTitle">Hemos conseguido ser la primera compañía de seguros</h4>
            <p>Liderámos el sector en España gracias a una excelente propuesta de valor para los clientes.</p>
        </div>
        <div class="highlights-item is-blue">
            <h4 class="t-h4">Somos la mejor gestora de fondos de pensiones</h4>
            <p>Nuestra gestión de las inversiones obtiene cada año diversos premios, tanto a nivel nacional como internacional.</p>
            <a href="#" class="Link Link--arrow is-white">
                <span>Más información</span>
                <span class="Link-icon"><img src="assets/img/sprites/arrow-white.svg"></img></span>
            </a>
        </div>
    </div>
</section>
