<section class="Search module">
	<div class="Search-wrapper">
        <h2 class="Search-title">¿Te ayudamos?</h2>
        <form class="Form" action="#" method="post">
            <div class="SearchBar">
                <input class="SearchBar-input vc-input" placeholder="Plan de pensiones" type="text" name="" value="">
                <a href="#" class="SearchBar-icon"><img src="assets/img/sprites/search.svg"></img></a>
            </div>
        </form>
	</div>
</section>
