<div class="Sidemenu module">
    <div class="Sidemenu-main">
        <a href="#">Sala de prensa</a>
        <span class="Sidemenu-mainButton">
            <img class="Sidemenu-mainIcon" src="assets/img/sprites/dots-check.svg" alt="">
        </span>
    </div>
    <ul class="Sidemenu-container">
        <li class="Sidemenu-item"><a href="#">Notas de prensa<span><img src="assets/img/sprites/arrow-grey.svg" alt=""></span></a></li>
        <li class="Sidemenu-item active"><a href="#">Resultados Anuales y Trimestrales<span><img src="assets/img/sprites/arrow-grey.svg" alt=""></span></a></li>
        <li class="Sidemenu-item dropdown"><a>Descargas multimedia<span><img src="assets/img/sprites/arrow-grey.svg" alt=""></span></a>
            <ul class="Sidemenu-submenu">
                <li class="Sidemenu-item"><a href="#">Identidad Corporativa</a></li>
                <li class="Sidemenu-item"><a href="#">Imágenes</a></li>
                <li class="Sidemenu-item"><a href="#">Videos</a></li>
            </ul>
        </li>
    </ul>
</div>
