<section class="Slider module">
	<div class="Slider-wrapper u-flex">
        <div class="Slider-slides u-flex--s0-12 u-flex--s960-8 u-flex--s1200-9 u-flex--wrap">
            <a href="#" data-slide="1" class="Slider-slidesItem active">
                <div class="image">
                    <img src="assets/img/cms/slider-1.jpg" alt="">
                </div>
                <div class="Slider-contentMobile">
                    <span class="date">2015 Abril 26</span>
                    <p class="description">VidaCaixa obtuvo un beneficio neto consolidado de 241,4 millones de euros, un 16,2% más</p>
                </div>
                <div class="Slider-content">
                    <h2 class="title">Pensions Caixa, galardonado como el mejor fondo de pensiones español de 2012</h2>
                    <p class="description">Es el número uno en España por volumen de recursos, alrededor de 5.000 millones.</p>
                </div>
            </a>
            <a href="#" data-slide="2" class="Slider-slidesItem">
                <div class="image">
                    <img src="assets/img/cms/slider-2.jpg" alt="">
                </div>
                <div class="Slider-contentMobile">
                    <span class="date">2015 Abril 26</span>
                    <p class="description">VidaCaixa obtuvo un beneficio neto consolidado de 241,4 millones de euros, un 16,2% más</p>
                </div>
                <div class="Slider-content">
                    <h2 class="title">VidaCaixa obtuvo un beneficio neto consolidado de 241,4 millones de euros, un 16,2% más</h2>
                    <p class="description">VidaCaixa gestionó un volumen de recursos de 47.549,7 millones de euros, un 18,5% más que en el primer semestre de 2012.</p>
                </div>
            </a>
            <a href="#" data-slide="3" class="Slider-slidesItem">
                <div class="image">
                    <img src="assets/img/cms/slider-3.jpg" alt="">
                </div>
                <div class="Slider-contentMobile">
                    <span class="date">2015 Abril 26</span>
                    <p class="description">VidaCaixa obtuvo un beneficio neto consolidado de 241,4 millones de euros, un 16,2% más</p>
                </div>
                <div class="Slider-content">
                    <h2 class="title">VidaCaixa recertificada como empresa familiarmente responsable</h2>
                    <p class="description">VidaCaixa cuenta desde 2009 con el reconocimiento como empresa familiarmente responsable (efr), gracias a su modelo de conciliación entre empresa, trabajo y familia.</p>
                </div>
            </a>
        </div>
        <div class="Slider-thumbnails u-flex--s0-12 u-flex--s960-4 u-flex--s1200-3">
            <a href="#" class="Slider-thumbnailsItem active" data-thumb="1">
                <span class="date">2015 Abril 26</span>
                <p class="description">VidaCaixa obtuvo un beneficio neto consolidado de 241,4 millones de euros, un 16,2% más</p>
            </a>
            <a href="#" class="Slider-thumbnailsItem" data-thumb="2">
                <span class="date">2015 Abril 26</span>
                <p class="description">VidaCaixa obtuvo un beneficio neto consolidado de 241,4 millones de euros, un 16,2% más</p>
            </a>
            <a href="#" class="Slider-thumbnailsItem" data-thumb="3">
                <span class="date">2015 Abril 26</span>
                <p class="description">VidaCaixa obtuvo un beneficio neto consolidado de 241,4 millones de euros, un 16,2% más</p>
            </a>
        </div>
	</div>
</section>
