<div class="Social">
    <div class="Social-wrapper">
        <a class="Social-item facebook" href="#"><span class="Social-itemText">Síguenos en Facebook</span><span class="Social-itemIcon"><img src="assets/img/sprites/social-fb.svg" alt=""></span></a>
        <a class="Social-item twitter" href="#"><span class="Social-itemText">Síguenos en Twitter</span><span class="Social-itemIcon"><img src="assets/img/sprites/social-twitter.svg" alt=""></span></a>
        <a class="Social-item youtube" href="#"><span class="Social-itemText">Míranos en Youtube</span><span class="Social-itemIcon"><img src="assets/img/sprites/social-youtube.svg" alt=""></span></a>
    </div>
</div>
