<section class="Soluciones module u-wrapper is-small">
    <div class="Soluciones-intro">
        <h2 class="t-h2 Soluciones-title">Soluciones adaptadas</h1>
        <h4 class="t-h4">Amplia oferta de servicios y productos ajustados a los requerimientos de cada cliente</h4>
        <p>VidaCaixa Previsión Social dispone de una oferta competitiva y flexible, que se adapta en todo momento a las necesidades de cada cliente. Con una organización humana volcada en conseguir la máxima calidad de servicio y fomentar la innovación de todos sus productos, ofreciendo soluciones adaptadas a cada situación empresarial. Conoce algunos de <strong>nuestros casos de éxito:</strong></p>
    </div>
    {% include '../molecules/solucionesItem.twig' with {
        soluciones_title: 'Riesgo y Plan de pensiones / Multinacional',
        soluciones_empresa: 'Multinacional extranjera',
        soluciones_sector: 'Alimentación',
        soluciones_button: 'Ver caso de éxito',
    } %}
    {% include '../molecules/solucionesItem.twig' with {
        soluciones_title: 'Plan de pensiones de promoción conjunta / Grupo empresarial',
        soluciones_empresa: 'Grupo empresarial formado por seis sociedades',
        soluciones_sector: 'Químico',
        soluciones_button: 'Ver caso de éxito',
    } %}
    {% include '../molecules/solucionesItem.twig' with {
        soluciones_title: 'United Linked Colectivo y Capitales diferidos / Empresas grandes y medianas',
        soluciones_empresa: 'Grandes y medianas',
        soluciones_sector: 'Laboratorio farmacéutico',
        soluciones_button: 'Ver caso de éxito',
    } %}
    {% include '../molecules/solucionesItem.twig' with {
        soluciones_title: 'Rentas diferidas / Gran empresa',
        soluciones_empresa: 'Grandes',
        soluciones_sector: 'Energético',
        soluciones_button: 'Ver caso de éxito',
    } %}
    {% include '../molecules/solucionesItem.twig' with {
        soluciones_title: 'Capitales diferidos / Premios de vinculación',
        soluciones_empresa: 'Grandes',
        soluciones_sector: 'Grandes y medianas',
        soluciones_button: 'Ver caso de éxito',
    } %}
</section>
