.Press {
    .Press-main {
        background-color: $c-neutroLightest;
        margin-bottom: space(1.5);
        padding-top: space(1.5);
    }

    .Press-footer {
        background-color: $c-neutroLightest;
        padding-bottom: space();
        padding-top: space(2);
    }
}
