.Contactbar {
    margin-bottom: space(2);
    text-align: center;

    @include breakpoint($s768) {
        padding: space(.5) 0;
    }

    @include breakpoint($s960) {
        margin-bottom: space(3);
    }

    &.no-margin {
        margin-bottom: 0;
    }

    &.bg-white {
        border-bottom: 1px solid $c-neutroLight;
        border-top: 1px solid $c-neutroLight;
        color: $c-primary;

        .Contactbar-link {
            color: $c-primary;
            transition: all .3s ease-in-out;

            a {
                color: $c-primary;

                &:hover {
                    color: $c-secondary;
                }
            }

            &:hover {
                color: $c-secondary;
            }

            .has-background-dark {
                display: none;
            }
        }
    }

    &.bg-primary {
        background-color: $c-primaryDark;
        color: $c-white;

        .Contactbar-link {
            color: $c-white;

            a {
                color: $c-white;
            }

            .has-background-light {
                display: none;
            }
        }
    }

    .Contactbar-content {
        font-weight: 600;
        margin: auto;

        @include breakpoint($s768) {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        @include fluid-type(16px, 18px);
    }

    .Contactbar-item {
        &:not(:last-child) {
            border-bottom: 1px solid $c-neutroLight;

            @include breakpoint($s768) {
                border-bottom: 0;
                margin-right: space(1.5);
            }

            @include breakpoint($s960) {
                margin-right: space(3);
            }
        }
    }

    .Contactbar-link {
        align-items: center;
        display: flex;
        font-weight: 300;
        justify-content: space-between;
        padding: space(.5);

        @include breakpoint($s768) {
            justify-content: center;
            padding: 0;
        }

        .Contactbar-icon {
            display: flex;
            margin-right: space(.5);
            order: 2;

            @include breakpoint($s768) {
                order: 1;
            }

            img {
                height: get-rems(24px);
                width: get-rems(24px);
            }
        }

        .Contactbar-text {
            order: 1;

            @include breakpoint($s768) {
                order: 2;
            }
        }
    }
}
