.Distributor {
    margin-bottom: space();

    .Distributor-container {
        display: flex;
        flex-wrap: wrap;

        .Distributor-itemWrapper {
            padding-bottom: space(.5);
            padding-top: space(.5);

            &:nth-child(even) {
                padding-left: 0;

                @include breakpoint($s960) {
                    padding-left: space(.5);
                }
            }

            &:nth-child(odd) {
                padding-right: 0;

                @include breakpoint($s960) {
                    padding-right: space(.5);
                }
            }

            @include breakpoint($s960) {
                align-items: stretch;
                display: flex;
            }

            .Distributor-item {
                border-bottom: get-rems(1px) solid $c-neutroLight;
                padding: 0 0 space() 0;
                width: 100%;

                @include breakpoint($s480) {
                    border: get-rems(1px) solid $c-neutroLight;
                    border-radius: get-rems(5px);
                    padding: space() space(1.5);
                }

                @include breakpoint($s960) {
                    padding: space(1.5) space(2);
                }

                @include breakpoint($s1200) {
                    padding: space(2) space(4);
                }

                .Distributor-links {
                    li {
                        font-size: get-rems(18px);
                        margin-bottom: space(.5);
                        padding-right: space();
                        position: relative;

                        img {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: get-rems(9px);
                        }
                    }
                }
            }

            &.Distributor-itemWrapper--full {
                border-bottom: get-rems(1px) solid $c-neutroLight;
                margin-top: space(.5);
                padding: 0 0 space() 0;
                width: 100%;

                @include breakpoint($s480) {
                    border: get-rems(1px) solid $c-neutroLight;
                    border-radius: get-rems(5px);
                    padding: space() 0;
                }

                .Distributor-itemWrapper {
                    padding: 0;
                }

                .Distributor-item {
                    border: none;
                    padding: 0;

                    @include breakpoint($s480) {
                        padding: 0 space(2);
                    }

                    @include breakpoint($s960) {
                        padding: space(2) space(4);
                    }
                }
            }
        }
    }
}
