.Filter {
    .Filter-breadcrumb {
        margin-bottom: space();
    }

    .Filter-fields {
        margin-bottom: space();

        > div:first-child {
            margin-bottom: space(.5);

            @include breakpoint($s960) {
                margin-bottom: 0;
                padding-right: space(.5);
            }
        }
    }
}
